@media  (max-width: 768px){
  .middle-element__picture{
    display: none;
  }
  .top-element__navigation{
    display: none;
  }
  .top-element{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
  }

  .top-element__logo{
    margin-right: 150px;
  }

  .mobile-navigation{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 15px;
    margin-top: 50px;
    transform: translateX(-100%);
    transition: transform 0.5s;
    .active{
      transform: translateX(0);
    }
  }

  .menu-btn{
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    margin-bottom: 20px;
    z-index: 2;
        span{
        width: 30px;
        height: 2px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background-color: blue;
          transition: all 0.5s;
        &:last-of-type {
          top: calc(50% - 5px);
        }
        &:nth-of-type(1) {
          top: calc(50% - 1px);
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          top: calc(50% - 1.5px);
          transform: rotate(-45deg);
      }
    }
  }


  .header{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .middle-element{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .middle-element__title{
    text-align: center;
    display: flex;
  }
  .middle-element .middle-element__btn{
    align-self: center;
    align-items: center;
  }

  .middle-element__refs{
    display: flex;
    flex-direction: row;
  }

  .body-element__about_saloon_middle{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .body-element__about_saloon_middle_text{
    width: 100%;
  }

  .body-element__about_saloon_logo{
    text-align: center;
  }

  .body-element__about_saloon_footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .body-element__popular_services_logo{
    text-align: center;
  }

  .popular_services_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .body-element__popular_services_cards{
    width: 100%;
  }
  .body-element__services_and_prices{
    padding-right: 50px;
    padding-left: 50px;
    .body-element__services_and_prices_logo{
      text-align: center;
    }
    .body-element__services_and_prices_haircuts{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      gap: 50px;
    }
    .body-element__services_and_prices_haircuts_description{
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
    .body-element__services_and_prices_services{
      width: 630px;
      overflow: scroll;
    }
  }

  .body-element__masters{
    text-align: center;
    align-content: center;
    align-self: center;
    padding-right: 50px;
    padding-left: 50px;
  }

  .body-element__master_about{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .body-element__our_works{
    padding-left: 50px;
    padding-right: 50px;
  }

  .body-element__our_works_arrows{
    display: none;
  }

  .body-element__our_works_models{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    img{
      width: 50%;
      align-content: stretch;
    }
  }

  .body-element__our_works_bren_types{
    gap: 45px;
  }

  .body-element__contacts{
    align-content: center;
    padding-right: 50px;
    padding-left: 50px;
  }

  .body-element__contacts_elements{
    display: flex;
    flex-direction: column;
    gap: 100px;
  }


  .body-element__contacts_information_social_networks{
    padding-left: 30px;
  }

  .footer-elements{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    gap: 100px;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .footer-elements__info_ref{
    display: none;
  }

  .footer-elements_navigation{
    width: 100%;
  }
}

@media (max-width: 480px) {
  .top-element {
    display: flex;
    gap: 30px;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: column;
  }

  .top-element__logo{
    padding-right: 25px;
    padding-left: 25px;
  }

  .top-element__contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .middle-element {
    padding-left: 25px;
    padding-right: 25px;
  }

  .middle-element__title {
    text-align: center;
    flex-direction: column;
    gap: 30px;
  }

  .middle-element__refs {
    gap: 30px;
  }

  .body-element__about_saloon {
    padding-left: 25px;
    padding-right: 25px;

    .body-element__about_saloon_logo {
      padding-left: 25px;
      padding-right: 25px;
    }
    .body-element__about_saloon_middle_text{
      width: 200%;
    }
  }

  .body-element__about_saloon_footer{
    width: 100%;
    p{
      width: 200%;
    }
  }

  .body-element__popular_services {
    padding-right: 25px;
    padding-left: 25px;
  }

  .body-element__popular_services_cards {
    align-items: stretch;
  }

  .body-element__services_and_prices {
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    .body-element__services_and_prices_services {
      overflow: scroll;
      width: 370px;
    }
  }

  .body-element__masters {
    padding-right: 25px;
    padding-left: 25px;
  }

  .body-element__our_works {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    align-items: center;
    .body-element__our_works_models {
      img {
        width: 70%;
        align-content: stretch;
      }
    }
    .body-element__our_works_bren_types{
      img{
        width: 50px;
      }
    }
  }

  .footer{
    .footer-elements{
      width: 300px;
    }
  }
}